* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* criação de variaveis */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);

}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

  /* 
  
  É possível fazer o mesmo com a sequência background: color image repeat possition/size
  
  */
  /* Essa linha executa o mesmo que a de cima */
  background: var(--bg-url) no-repeat center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  /* color: #ffffff; */
  color: var(--text-color);
}

#container {
  /* border: 1px solid white; */
  /* width: 360px; */
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* perfil */
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
  /* display: block;
  margin: auto;
  margin-top: 24px;
  border: 1px solid green; */
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  /* display: inline-flex;
  padding: 0;
  color: white;
  border: 1px solid white; */
}

/* switch */

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  /* possiocionando botão */
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 60px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}

/* lista de projetos */
#list-projects h3 {
  margin: 24px 8px 8px 0;
  text-align: center;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
/* Nesse li alinha todos os componentes filhos ao meio se forem texto.
ul li{
  border: 1px solid #ffffff;
  text-align: center;
  padding: 16px 24px;
} */
ul li a {
  /* essa configuração abaixo faz o conteúdo do link ocupar toda a larguta e alinha o conteudo do link ao centro */
  display: flex;
  justify-content: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  /* transition: all 0.5s; */
  transition: background 0.2s;
  /* nessa configuração abaixo alinha ao meio se for definido somente uma altura
  height: 52px;
  align-items: center;
  justify-content: center; */
}
/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  /* border: 1.5px solid #ffffff; */
  border: 1.5px solid var(--text-color);
}

/* links das redes sociais */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  /* gap: 32px; */
  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  padding: 16px;
}

#social-links a:hover {
  transition: background 0.2s;
  background: var(--highlight-color);
  border-radius: 50%;
}

/* rodapé */
footer {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
}

/* midia queries */

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
